{% extends "base.html" %}

{% block content %}
    <p>We, the students of KL University, have proudly developed a sophisticated Online Airway Reservation System utilizing the powerful Python programming language and the Django framework. This innovative platform revolutionizes the way travelers book their flights, providing seamless functionality and an intuitive user experience. Our team's dedication and expertise have culminated in a cutting-edge system that enhances efficiency and convenience for both passengers and airlines alike.</p>

<article>
        <section>
            <h2>Who are we?</h2>
            <p>Viman Airlines  provides online travel search services and other travel-related services to travelers throughout the world via our websites, apps, and other platforms .</p>
            <p>Viman Airlines is not a travel agent and is not responsible for providing, setting, or controlling the prices applicable to any of the travel options or products which you find and book via our Services. All such Third Party Travel Products are provided by independent travel agents, airlines, hotels, tour operators, or other third parties and are subject to the terms and conditions of those third parties.</p>
            <p>Our Services and Platforms are provided by Viman Airlines Limited, a private limited company incorporated and registered in India. Other entities that directly or indirectly control, are controlled by, or are under common control with Viman Airlines and referred to in these terms as “Viman Airlines Group Companies”. You can find our details, including correspondence address and registered office, on our Company Details page.</p>
        </section>

        <!-- Other sections go here -->

    </article>

{% endblock %}


