{% extends "base.html" %}

{% block content %}
    <h1>Terms And conditions</h1>
    <p>Our Services and Platforms are provided by Viman Limited, a private limited company incorporated and registered in England & Wales with company number 04217916.  Other entities that directly or indirectly control, are controlled by, or are under common control with Viman and referred to in these terms as “Viman Group Companies”. You can find our details, including correspondence address and registered office, on our Company Details page.</p>
    <p>These terms and conditions (“Terms”) govern your access to and use of our Services and Platforms, together with our privacy policy, cookie policy and community guidelines. By accessing or using the Services or Platforms, you are confirming that you have read, understood and agreed to these Terms and those of the privacy policy, cookie policy and community guidelines.

Some of our Services and Platforms (for example, our ‘Viman for Business’ products) impose different terms and conditions on your use of those services. Where that is the case, you will be clearly notified and those terms will operate in place of or together with these Terms as appropriate.

We may amend these Terms at any time at our discretion. If these Terms are amended, we will publish the revised terms and conditions and you will be deemed to have accepted any amendments if you continue using our Services or Platforms after the amendments are displayed. If you do not accept all of these Terms then you should not use our Services or Platforms.

Using our Services</p>
{% endblock %}


